---
docker_ca_key: /etc/docker/ca-key.pem
docker_ca: /etc/docker/ca.pem
server_key: /etc/docker/server-key.pem
server_csr: /etc/docker/server.csr
server_crt: /etc/docker/server.crt
docker_host: "{{ servers[ansible_hostname].dns.private[0] }}"
docker_daemon_conf: /etc/docker/daemon.json
ext_file: /etc/docker/extfile.cnf
client_key: /etc/docker/client-key.pem
client_csr: /etc/docker/client.csr
client_crt: /etc/docker/client.crt
client_ext_file: /etc/docker/client-extfile.cnf
local_client_crt: "../conf/docker/{{ ansible_hostname }}/docker-client.crt"
local_client_key: "../conf/docker/{{ ansible_hostname }}/docker-client.pem"
local_ca: "../conf/docker/{{ ansible_hostname }}/ca.crt"
provisioner_state_file: "../{{ provisioner.state_file }}"
