[global]
        run as user = netdata
        web files owner = root
        web files group = root
        # Netdata is not designed to be exposed to potentially hostile
        # networks.See https://github.com/firehol/netdata/issues/164
        bind socket to IP = {{ servers[ansible_hostname].private_ip }}
