# {{ ansible_managed }}
block all

# allow all from private, loopback and openvpn
set skip on vtnet1
set skip on lo0
set skip on tun0

# allow all from host itself
pass out inet all keep state
pass out inet6 all keep state

# services
pass in proto tcp to vtnet0 port ssh flags S/SA keep state
pass in proto udp to vtnet0 port openvpn keep state
