1 1 * * 1 /mail/bin/get_certs
1 */12 * * * /usr/bin/freshclam --foreground --config=/mail/config/freshclam.conf --daemon-notify=/mail/config/clamd.conf
30 */12 * * * sa-update --updatedir /mail/db/spamassassin